@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Roboto:wght@100&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: border-box;
}

.main-container {
    width: 900x;
    height: auto;
    background: #8416A0;
    border: 1px solid #000000;
    margin: 0 auto;
}

.header {
    width: 547px;
    height: 165px;
    font-family: 'Iceland';
    font-weight: 400;
    font-size: 120px;
    color: #FFFFFF;
    justify-content: center;
    /*  display: flex; */
    margin: 0 auto;
    margin-top: 54px;
}


.value-div {
    display: flex;
    font-family: 'Inter';
    font-size: 200px;
    color: #FFFFFF;
    justify-content: center;
    margin-bottom: 40px;
}


.values {
    width: 185px;
    height: 276px;
    background: #8E44AD;
    border: 1px solid #FFFFFF;
    text-align: center;
    box-shadow: inset 0px 0px 39px 13px rgba(0, 0, 0, 0.25);
}
/* 
.span {
    margin: 0 auto;
    justify-items: center;
    width: 125px;
    height: 242px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 200px;
    color: #FFFFFF; 
}
 */
.buttons {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

.button1 {
    width: 299px;
    height: 89px;
    background: #8E44AD;
    border: 1px solid #8416A0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
}

button {
    width: 200px;
    height: 49px;
    font-family: 'Iceland';
    font-weight: 400;
    font-size: 50px;
    color: #FFFFFF;

}

.button1:hover{
    background-color: rgb(210, 43, 132);
}
