body {
    background-color: black;
    display: flex;
}

.container {
    margin: 0 auto;
    width: 666px;
    height: 786px;
    background: #32FF7E;
    margin-top: 91px;
}

.circle {
    padding-top: 92px;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.input {
    padding: 39px;
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.uName,
.pass {
    margin: 0 auto;
    width: 482px;
    height: 70px;
    background: #FFFFFF;
}

input {
    width: 125px;
    height: 42px;
    font-family: 'Varela';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
}

button {
    width: 215px;
    height: 71px;
    border: 2px solid grey;
    background-color: #000000;
}

button:hover {
    color: black;
    background-color: #FFFFFF;
}

.login {
    margin-left: 320px;
    font-family: 'Varela';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
